input {
    width: 7em;
    text-align: center;
    min-height: 2.5rem;
    border: #8E91F5 4px solid;
    border-radius: 5px;
    margin: 0.7rem 0.5rem;
    font-size: 2rem;
    padding: 0.1rem 0.1rem;
}


.inputError {
    border-color: red;
    background: rgba(245,0,0, 0.2);

}









